{% load static %}


<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Войти</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A corporate Bootstrap theme by Medium Rare">
    <!-- Favicon - loaded as static -->
    <link rel="icon" href="/static/assets/img/brand/favicon.ico" type="image/png">
    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <!-- Icons -->
    <link rel="stylesheet" href="/static/assets/vendor/nucleo/css/nucleo.css" type="text/css">
    <link rel="stylesheet" href="/static/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
    <!-- Page plugins -->
    <!-- Argon CSS -->
    <link rel="stylesheet" href="/static/assets/css/argon.css?v=1.2.0" type="text/css">


    <link href="{% static 'assets/css/test.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link rel="preload" as="font" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"
          type="font/woff2" crossorigin="anonymous">
    <link rel="preload" as="font" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"
          type="font/woff2" crossorigin="anonymous">


</head>

<body>
<div class="loader">
    <div class="loading-animation"></div>
</div>

<section class="row no-gutters min-vh-100 p-0">
    <div class="col-lg-4 bg-primary-3 d-flex justify-content-end">
        <img src="{% static 'assets/img/theme/login.jpg' %}" alt="Image" class="bg-image">

    </div>
    <div class="col px-5 position-relative d-flex align-items-center">
        <div class="row justify-content-center w-100">
            <div class="col-md-8 col-lg-7 col-xl-6">
                <div class="form-group mb-4">
                    <h1 class="" style="">👋 Привет,</h1>
                    <h1 class="" style="margin-top: -3%">мы уже соскучились</h1>
                </div>


                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group" style="margin-bottom: 0.7rem">
                        {{ form.username }}
                    </div>
                    <div class="form-group" style="margin-bottom: 0.7rem">
                        {{ form.password }}
                    </div>
                    <div class="form-group" style="margin-bottom: 2rem;">
                        {% if form.non_field_errors %}
                            {% for err in form.non_field_errors %}
                                <div class="small" style="margin-bottom: 0.7rem; color: red">{{ err }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="form-group" style="margin-bottom: 0.7rem">
                        <button class="btn-block btn btn-primary" type="submit">Войти</button>
                    </div>

                    <div class="text-center text-muted">
                <span>Еще нет аккаунта? <a href="{% url 'register' %}">Создать аккаунт</a>
                </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>

