<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>IraFit</title>
    {% load static %}
</head>

<body>
<p><a id="logout" href="{% url 'logout' %}">Logout </a></p>
<p><a href="{% url 'dashboard' %}">Home</a></p>
<p><a href="{% url 'add_training' %}">New Training</a></p>
<p><a href="{% url 'all_trainings' %}">All Trainings</a></p>
<br>

<p>{{ request.user.username }}</p>



{% if trainings %}
    {% for training in trainings %}
        <h4>{{training.name}}</h4>
        <h6>{{training.created_at | date }}</h6>
        <p>{{workout.description}}</p>
        <a href="{% url 'training' training.id %}">View</a>
        <small>Updated {{training.updated_at | timesince}} ago</small>
    {% endfor %}
    <p> <em>Most recent 4 workouts displayed only. <a href="{% url 'all_trainings' %}">View All</a></em></p>
{% else %}
    <h4>You don't have any workouts yet.</h4>
    <h6>There's no time like the present! 💪</h6>
    <a href="{% url 'add_training' %}">Start a Workout</a>
{% endif %}
</body>

</html>
