{% load static %}
<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="{% static '/workout/css/test_css.css' %}"> </head>

<body>
	<div class="page-container">
		<div id="primary" class="content-area">
			<div class="page-content ">
				<main id="main" class="site-main">
					<article id="post-19523" class="post-19523 page type-page status-publish hentry">
						<div class="entry-content">
							<div class="vc_row wpb_row vc_row-fluid stc-row">
								<div class="wpb_column vc_column_container vc_col-sm-12">
									<div class="vc_column-inner">
										<div class="wpb_wrapper">
											<div class="ohio-heading-sc heading text-center" id="ohio-custom-617b3c36c0bc0">
{#												<h2 class="title"> Default style </h2>#}
											</div>
                                            <div class="description product-category__description"> Simple and beautiful way to keep fit.</div>
                                            <div class="description product-category__description"> Right here and right now.</div>

											<div class="vc_row wpb_row vc_inner vc_row-fluid">
												<div class="wpb_column vc_column_container vc_col-sm-6">
													<div class="vc_column-inner">
														<div class="wpb_wrapper">
															<div class="woocommerce ohio-woocommerce-sc " id="ohio-custom-617b3c36c1fc6">
																<ul class="woo_c-category">
																	<li class="product-category vc_col-md-12">
																		<div class=" style-2 product-category--boxed">
																			<div class="product-category__background-image" style="background-image: url(https://colabrio.ams3.cdn.digitaloceanspaces.com/ohio.clbthemes.com/ProductImage__007-1024x1024.jpg)"></div>
																			<div class="product-category__info-wrapper text-left">
																				<div class="product-category__top-line">
																					<div class="description product-category__description"> DAY 1 <a href="#" class="btn-time  btn-outline-time"><span class="text">40:00</span></a></div>
																					<h3 class="second-title product-category__title"> <a href="https://ohio.clbthemes.com/product-category/everyday-essentials/">Toned Arms</a> </h3>
                                                                                    <a href="#" class="btn-category  btn-outline"><span class="text">Arms</span></a>
                                                                                    <a href="#" class="btn-category  btn-outline"><span class="text">Legs</span></a>
                                                                                    <a href="#" class="btn-category  btn-outline"><span class="text">Core</span></a>
                                                                                    <a href="#" class="btn-category  btn-outline"><span class="text">Else</span></a>
                                                                                    <a href="#" class="btn-category  btn-outline"><span class="text">Else</span></a>
                                                                                    <a href="#" class="btn-category  btn-outline"><span class="text">Else</span></a>
                                                                                    <a href="#" class="btn-category  btn-outline"><span class="text">Else</span></a>
                                                                                    <a href="https://ohio.clbthemes.com/product-category/everyday-essentials/" class="shop-now btn  btn-link">
							Start Training							<i class="ion-right ion ion-ios-arrow-forward"></i>
						</a> </div>
																			</div>
																		</div>
																	</li>
																</ul>
															</div>
														</div>
													</div>
												</div>
                                                <div class="wpb_column vc_column_container vc_col-sm-6">
													<div class="vc_column-inner">
														<div class="wpb_wrapper">
															<div class="woocommerce ohio-woocommerce-sc " id="ohio-custom-617b3c36c1fc6">
																<ul class="woo_c-category">
																	<li class="product-category vc_col-md-12">
																		<div class=" style-2 product-category--boxed">
																			<div class="product-category__background-image" style="background-image: url(https://colabrio.ams3.cdn.digitaloceanspaces.com/ohio.clbthemes.com/ProductImage__007-1024x1024.jpg)"></div>
																			<div class="product-category__info-wrapper text-left">
																				<div class="product-category__top-line">
																					<div class="description product-category__description"> DAY #1 </div>
																					<h3 class="second-title product-category__title"> <a href="https://ohio.clbthemes.com/product-category/everyday-essentials/">Toned Arms</a> </h3>
                                                                                    <a href="#" class="btn-category  btn-outline"><span class="text">Arms</span></a>
                                                                                    <a href="#" class="btn-category  btn-outline"><span class="text">Legs</span></a>
                                                                                    <a href="#" class="btn-category  btn-outline"><span class="text">Core</span></a>
                                                                                    <a href="#" class="btn-category  btn-outline"><span class="text">Else</span></a>
                                                                                    <a href="#" class="btn-category  btn-outline"><span class="text">Else</span></a>
                                                                                    <a href="#" class="btn-category  btn-outline"><span class="text">Else</span></a>
                                                                                    <a href="#" class="btn-category  btn-outline"><span class="text">Else</span></a>
                                                                                    <a href="https://ohio.clbthemes.com/product-category/everyday-essentials/" class="shop-now btn  btn-link">
							Start Training							<i class="ion-right ion ion-ios-arrow-forward"></i>
						</a> </div>
																			</div>
																		</div>
																	</li>
																</ul>
															</div>
														</div>
													</div>
												</div>
												<div class="wpb_column vc_column_container vc_col-sm-6">
													<div class="vc_column-inner">
														<div class="wpb_wrapper">
															<div class="woocommerce ohio-woocommerce-sc " id="ohio-custom-617b3c36c2fd6">
																<ul class="woo_c-category">
																	<li class="product-category vc_col-md-12">
																		<div class=" style-2 product-category--boxed">
																			<div class="product-category__background-image" style="background-image: url(https://colabrio.ams3.cdn.digitaloceanspaces.com/ohio.clbthemes.com/ProductImage__013-1024x1024.jpg)"></div>
																			<div class="product-category__info-wrapper text-left">
																				<div class="product-category__top-line">
																					<div class="description product-category__description"> Sale up to 50% </div>
																					<h3 class="second-title product-category__title"> <a href="https://ohio.clbthemes.com/product-category/summer-discount/">Summer discount</a> </h3> <a href="https://ohio.clbthemes.com/product-category/summer-discount/" class="shop-now btn  btn-link">
							Start Shopping							<i class="ion-right ion ion-ios-arrow-forward"></i>
						</a> </div>
																			</div>
																		</div>
																	</li>
																</ul>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="vc_row wpb_row vc_row-fluid stc-row">
								<div class="wpb_column vc_column_container vc_col-sm-12">
									<div class="vc_column-inner">
										<div class="wpb_wrapper">
											<div class="ohio-heading-sc heading text-center" id="ohio-custom-617b3c36c358b">
												<h2 class="title"> Offset style </h2>
											</div>
											<div class="vc_row wpb_row vc_inner vc_row-fluid">
												<div class="wpb_column vc_column_container vc_col-sm-6">
													<div class="vc_column-inner">
														<div class="wpb_wrapper">
															<div class="woocommerce ohio-woocommerce-sc " id="ohio-custom-617b3c36c39a4">
																<ul class="woo_c-category">
																	<li class="product-category vc_col-md-12">
																		<div class=" style-1 product-category--default">
																			<div class="product-category__background-image" style="background-image: url(https://colabrio.ams3.cdn.digitaloceanspaces.com/ohio.clbthemes.com/ProductImage__007-1024x1024.jpg)"></div>
																			<div class="product-category__info-wrapper text-left">
																				<div class="product-category__top-line">
																					<div class="description product-category__description"> FW limited edition </div>
																					<h3 class="second-title product-category__title"> <a href="https://ohio.clbthemes.com/product-category/everyday-essentials/">Everyday essentials</a> </h3>
                                                                                    <a href="https://ohio.clbthemes.com/product-category/everyday-essentials/" class="shop-now btn  btn-link">
							Start Shopping							<i class="ion-right ion ion-ios-arrow-forward"></i>
						</a> </div>
																			</div>
																		</div>
																	</li>
																</ul>
															</div>
														</div>
													</div>
												</div>
												<div class="wpb_column vc_column_container vc_col-sm-6">
													<div class="vc_column-inner">
														<div class="wpb_wrapper">
															<div class="woocommerce ohio-woocommerce-sc " id="ohio-custom-617b3c36c3d09">
																<ul class="woo_c-category">
																	<li class="product-category vc_col-md-12">
																		<div class=" style-1 product-category--default">
																			<div class="product-category__background-image" style="background-image: url(https://colabrio.ams3.cdn.digitaloceanspaces.com/ohio.clbthemes.com/ProductImage__013-1024x1024.jpg)"></div>
																			<div class="product-category__info-wrapper text-left">
																				<div class="product-category__top-line">
																					<div class="description product-category__description"> Sale up to 50% </div>
																					<h3 class="second-title product-category__title"> <a href="https://ohio.clbthemes.com/product-category/summer-discount/">Summer discount</a> </h3> <a href="https://ohio.clbthemes.com/product-category/summer-discount/" class="shop-now btn  btn-link">
							Start Shopping							<i class="ion-right ion ion-ios-arrow-forward"></i>
						</a> </div>
																			</div>
																		</div>
																	</li>
																</ul>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</article>
				</main>
			</div>
		</div>
	</div>

</body>

</html>