{% extends "workout/page_structure.html" %}

{% block title %}Trainings{% endblock %}
{% block content %}
    {% for training in trainings %}
        <h3>{{ training.name }}</h3>
        <h4>{{ training.day_number }}</h4>
        <h4>{{ training.duration }}</h4>
        <p>{{ training.description }}</p>
        {% for category in training.categories.all %}
            <h4>{{ category.name }}</h4>
        {% endfor %}
        <p>{{ training.video.name }}</p>
        <img src= '{{ training.video.file.url }}' alt="Not found">
    {% endfor %}
{% endblock %}