<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <div class="scrollbar-inner">
    <!-- Brand -->
    <div class="sidenav-header  align-items-center">
      <a class="navbar-brand" href="{% url 'dashboard' %}">
        <img src="/static/assets/img/brand/newlogo.png" class="navbar-brand-img" alt="irafit logo">
      </a>
    </div>
    <div class="navbar-inner">
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Nav items -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link {% if 'index' in segment %} active {% endif %}" href="{% url 'dashboard' %}">
              <i class="ni ni-user-run text-primary"></i>
              <span class="nav-link-text">Мои тренировки</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'icons' in segment %} active {% endif %}" href="{% url 'add_training' %}">
              <i class="ni ni-fat-add text-orange"></i>
              <span class="nav-link-text">Новая тренировка</span>
            </a>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">
              <i class="ni ni-single-02 text-red"></i>
              <span class="nav-link-text">Выйти</span>
            </a>
          </li>            
        </ul>
      </div>
    </div>
  </div>
</nav>