{% extends 'users/register_basic_file.html' %}

{% block content %}

<form method="post">
    {% csrf_token %}
    <div class="form-error">{{ form.non_field_errors }}</div>
    {% for formpart in form %}
        <p><label class="form-label" for="{{ formpart.id_for_label }}">{{ formpart.label }}:</label>{{ formpart }}</p>
        <div class="form-error">{{ formpart.errors }}</div>
    {% endfor %}
    <button type="submit">Войти</button>
</form>
<a href="{% url 'register' %}">Don't have an account?</a></li>
{% endblock %}